@page
@using _01_AnsarPlastQuery.Contracts.Order
@using _01_AnsarPlastQuery.Contracts.Product
@using AccountManagement.Application.Contracts.Account
@using Newtonsoft.Json
@model ServiceHost.Areas.Admininstration.Pages.IndexModel
@inject IOrderQuery _orderQuery;
@inject IProductQuery _productQuery;
@inject IAccountApplication _accountApplication;
@{
    ViewData["Title"] = "صفحه اصلی";
    var orderCount = _orderQuery.GetOrders().Count;
    var productCount = _productQuery.GetProductCount();
    var AccountCount = _accountApplication.GetAccounts().Count;
}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb pull-right">
            <li><a>انصار پلاست</a></li>
            <li class="active">داشبورد</li>
        </ol>
    </div>
</div>

<!-- Start Widget -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info"><i class="ion-ios7-cart"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@productCount</span>
                کل محصولات
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple"><i class="ionicon-list"></i></span>
            <div class="mini-stat-info text-right text-muted">
                کل سفارشات
                <span class="counter">@orderCount</span>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success"><i class="ion-eye"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">0</span>
                میزان فروش
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary"><i class="ion-android-contacts"></i></span>
            <div class="mini-stat-info text-right text-muted">
                کاربران وبسایت
                <span class="counter">@AccountCount</span>
            </div>
        </div>
    </div>
</div>
<!-- End row-->


<!--<div class="row">
    <div class="col-lg-8">
        <div class="portlet">-->
            <!-- /portlet heading -->
            <!--<div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    Website Stats
                </h3>
                <div class="portlet-widgets">
                    <a href="javascript:;" data-toggle="reload"><i class="ion-refresh"></i></a>
                    <span class="divider"></span>
                    <a data-toggle="collapse" data-parent="#accordion1" href="#portlet1"><i class="ion-minus-round"></i></a>
                    <span class="divider"></span>
                    <a href="#" data-toggle="remove"><i class="ion-close-round"></i></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div id="portlet1" class="panel-collapse collapse in">
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="website-stats" style="position: relative;height: 320px;"></div>
                            <div class="row text-center m-t-30">
                                <div class="col-sm-4">
                                    <h4 class="counter">86,956</h4>
                                    <small class="text-muted"> Weekly Report</small>
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="counter">86,69</h4>
                                    <small class="text-muted">Monthly Report</small>
                                </div>
                                <div class="col-sm-4">
                                    <h4 class="counter">948,16</h4>
                                    <small class="text-muted">Yearly Report</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>--> <!-- /Portlet -->
    <!--</div>--> <!-- end col -->

    <!--<div class="col-lg-4">
        <div class="portlet">-->
            <!-- /portlet heading -->
            <!--<div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    Website Stats
                </h3>
                <div class="portlet-widgets">
                    <canvas id="bar"></canvas>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>--> <!-- /Portlet -->
    <!--</div>--> <!-- end col -->
<!--</div>--> <!-- End row -->

@section Scripts
{
    <script>
        const lineChartDiv = document.getElementById("line");
        const data = @Html.Raw(JsonConvert.SerializeObject(Model.BarLineDataSet));
        const lineChart = new Chart(lineChartDiv,
            {
                type: "line",
                data: {
                    labels: ["مهر", "آبان", "آذر", " دی", "بهمن"],
                    datasets: data
                },
                options: {
                    elements: {
                        bar: {
                            borderWidth: 1
                        }
                    }
                }
            });
    </script>
}
